.layout .logo {
    height: 75px;
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
    margin: 5px 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}