.memes-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    &__image {
        max-width: 100%;
        border-radius: 15px;
        border: 1px solid lightgrey;
    }
}

.search-memes {
    width: 50%;
    min-width: 150px;
    margin: 15px 0;

    &-wrapper {
        display: flex;
        justify-content: center;
    }
}

.dummy-element {
    background-color: darkgrey;
    height: 400px;
    display: flex;
    justify-content: center;
}

.headliner {
    justify-content: center;
    font-weight: bold;
    display: flex;
    padding:20px 0px 20px 0px;
}