.selected-image {
    max-height: 250px;
    max-width: 500px;
}

.image-wrapper {
    height: 280px;
    width: 530px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}